body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 30vh);
  grid-template-rows: repeat(3, 30vh);
}

.box {
  background-color: white;
  border: 5px dotted black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle:before {
  content: "\25CF";
  font-size: 40vh;
}

.cross:before {
  content: "\2573";
  font-size: 20vh;
}

